<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
    <h2>Manage servers</h2>
  </div>
    <div class="col-sm-6">
       
        <button type="button" class=" btn btn-primary"> print report</button>
       <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
        <i class="material-icons">&#xE147;</i>
        <span>New Server</span>
       </a>
       <span>
        <select name="status" class="btn btn-info" style="height: 32.91px;">
          <option value="ALL">ALL
          </option>
          <option value="SERVER_UP">SERVER_UP
          </option>
          <option value="SERVER_DOWN">SERVER_DOWN
          </option>
          
      </select>
       </span>
    </div>
  </div>
</div>
<br>

 <ng-container>
 <ng-container>
  <div class="col-md-12 single-note-item text-center">
    <div class="spinner-border text-info" role="status">

    </div>

  </div>
 </ng-container>
 <ng-container>
<table class="table table-striped table-bordered table-hover" id="servers">
<thead>
  <tr>
    <th> image</th>
    <th>ip address</th>
    <th> name</th>
    <th> memory</th>
    <th>type</th>
    <th> status</th>
    <th> ping</th>
    <th> action</th>
  </tr>
</thead>
<tbody>
  
    <td>image</td>
    <td>>ip address</td>
    <td>name</td>
    <td>memory</td>
    <td>type</td>
    <td>
      <span class="badge"></span>
    </td>
    <td>
      <a style="cursor : pointer;">
      <i class="material-icons" title="ping server"> &#xe328;</i>
      <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
      </a>
    </td>
    <td>
      <a class="delete" data-toggle="modal"
      style="cursor : pointer;">
      <i class="material-econs" data-toggle="modal" title="Delete">&#xE872;</i>


      </a>
    </td>


</tbody>
</table>

 </ng-container>
 <ng-container>
  <div class="alert-danger">
    error
  </div>
 </ng-container>
 </ng-container>

</div>
</div>
</div>


<div id="addEmployeeModal" class="modal-fade">

</div>